body{
    margin: 20px;
    font-family: serif;
}
.avatar{
    width: 150px;
    margin-top: 10px;
    
}
.card{
    border: 0xpx; 
    padding: 20px;
    width: 500px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    background-color: #ddebf8;
    border-bottom: 5px solid #d8cefe;
    color: #2b2839;

}


.border-blue{
    border: 1px dotted blue;
    
}